{% layout '_layout.liquid' %}

<p>
    A request has been sent to set or reset your Skillitory password. Please
    click the link below, which will take you to the Skillitory reset password
    screen. Provide your email address, which is <strong>{{ email }}</strong>,
    along with your choice of password, and click "Set Password".
</p>
<p>Please note that your new password must abide by the following rules:</p>
<ul>
    <li>Must be at least 8 characters</li>
    <li>At least 1 uppercase letter</li>
    <li>At least 1 lowercase letter</li>
    <li>At least 1 number</li>
    <li>At least 1 symbol</li>
</ul>
<p>
    <strong><a href="{{ callbackUrl }}" target="_blank">
            Please click here to go to the reset password screen.</a>
    </strong>
    <br/>
</p>
