{% layout '_layout.liquid' %}

<p>
    Your user account has been created in Skillitory. Please click the following link to validate your email address:
</p>
<p>
    <a href="{{ callbackUrl }}">Verify Email</a>
</p>
